<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-3">{{title}}</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="mt-4">
                <div class="input-group">
                    <input (keyup)="0" type="text" [(ngModel)]="foto.titulo" class="form-control" placeholder="Título" name="titulo" aria-label="Título da Foto"
                        aria-describedby="titulo">
                </div>
            </div>
            <div class="mt-4">
                <input (keyup)="0" type="text" [(ngModel)]="foto.url" class="form-control" placeholder="Url" name="url" aria-label="Url da Foto"
                    aria-describedby="url">
            </div>
            <div class="mt-4">
                <div class="input-group">
                    <textarea [(ngModel)]="foto.descricao" class="form-control" rows="5" placeholder="Descrição" name="descricao" aria-label="Descrição da Foto"></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <button (click)="salvar();" class="btn btn-outline-primary btn-block">Salvar</button>
                </div>
                <div class="col-6">
                    <button [routerLink]="['']" class="btn btn-secondary btn-block">Voltar</button>
                </div>
            </div>
        </div>
        <aside class="col-8">
            <div class="mt-4">

            </div>
        </aside>
    </div>


</div>